{# iterate_list apic.tenants name item[2] #}
{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- set ns = namespace(track_list_auto = []) %}
            {%- for track_list in tenant.policies.track_lists | default([]) %}{{ comma1() }}
            {% set list_name = track_list.name ~ defaults.apic.tenants.policies.track_lists.name_suffix %}
            {%- set ns.track_list_auto = ns.track_list_auto + [(list_name)] %}
            {
                "fvTrackList": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ list_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/tracklist-{{ list_name }}",
                        "descr": "{{ track_list.description | default() }}",
                        "percentageDown": "{{ track_list.percentage_down | default(defaults.apic.tenants.policies.track_lists.percentage_down) }}",
                        "percentageUp": "{{ track_list.percentage_up | default(defaults.apic.tenants.policies.track_lists.percentage_up) }}",
                        "type": "{{ track_list.type | default(defaults.apic.tenants.policies.track_lists.type) }}",
                        "weightDown": "{{ track_list.weight_down | default(defaults.apic.tenants.policies.track_lists.weight_down) }}",
                        "weightUp": "{{ track_list.weight_up | default(defaults.apic.tenants.policies.track_lists.weight_up) }}"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- for member in track_list.track_members  | default([]) %}{{ comma2() }}
                        {%- set member_name = member ~ defaults.apic.tenants.policies.track_members.name_suffix %}
                        {
                            "fvRsOtmListMember": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/tn-{{ tenant.name }}/trackmember-{{ member_name }}"
                                }
                            }
                        }
                        {%- endfor %}

                    ]
                }
            }
            {%- endfor %}
            {%- for l3out in tenant.l3outs | default([]) %}
            {%- set l3out_name = l3out.name ~ defaults.apic.tenants.l3outs.name_suffix %}
            {%- set vrf_name = l3out.vrf ~ ('' if l3out.vrf in ('inb', 'obb', 'overlay-1') else defaults.apic.tenants.vrfs.name_suffix) %}
            
            {# manual node profiles #}
            {%- if ((l3out.node_profiles | default([])) | length) > 0 %}
            {%- for np in l3out.node_profiles | default([]) %}
            {%- for node in np.nodes | default([]) %}
            {%- for sr in node.static_routes | default([]) %}
            {%- for nh in sr.next_hops | default([]) %}

            {%- if nh.ip_sla_policy is defined %}
            {%- set list_name = vrf_name ~ "_" ~ nh.ip %}
            {%- if list_name not in ns.track_list_auto %}
            {%- set ns.track_list_auto = ns.track_list_auto + [(list_name)] %}{{ comma1() }}
            {
                "fvTrackList": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ list_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/tracklist-{{ list_name }}",
                        "descr": "Generated by l3out: {{l3out_name}}, node: {{node.node_id}}",
                        "percentageDown": "{{ defaults.apic.tenants.policies.track_lists.percentage_down }}",
                        "percentageUp": "{{ defaults.apic.tenants.policies.track_lists.percentage_up }}",
                        "type": "{{ defaults.apic.tenants.policies.track_lists.type }}",
                        "weightDown": "{{ defaults.apic.tenants.policies.track_lists.weight_down }}",
                        "weightUp": "{{ defaults.apic.tenants.policies.track_lists.weight_up }}"
                    },
                    "children": [
                        {
                            "fvRsOtmListMember": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/tn-{{ tenant.name }}/trackmember-{{ list_name }}"
                                }
                            }
                        }
                    ]
                }
            }
            {%- endif %}   
            {%- endif %}

            {%- endfor %}
            {%- endfor %}
            {%- endfor %}
            {%- endfor %}

            {%- endif %}
            {%- if ((l3out.nodes| default([])) | length) > 0 %}
            {# auto generated node profiles #}
            {%- for node in l3out.nodes | default([]) %}
            {%- for sr in node.static_routes | default([]) %}
            {%- for nh in sr.next_hops | default([]) %}

            {%- if nh.ip_sla_policy is defined %}
            {%- set list_name = vrf_name ~ "_" ~ nh.ip %}
            {%- if list_name not in ns.track_list_auto %}
            {%- set ns.track_list_auto = ns.track_list_auto + [(list_name)] %}{{ comma1() }}
            {
                "fvTrackList": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ list_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/tracklist-{{ list_name }}",
                        "descr": "Generated by l3out: {{l3out_name}}, node: {{node.node_id}}",
                        "percentageDown": "{{ defaults.apic.tenants.policies.track_lists.percentage_down }}",
                        "percentageUp": "{{ defaults.apic.tenants.policies.track_lists.percentage_up }}",
                        "type": "{{ defaults.apic.tenants.policies.track_lists.type }}",
                        "weightDown": "{{ defaults.apic.tenants.policies.track_lists.weight_down }}",
                        "weightUp": "{{  defaults.apic.tenants.policies.track_lists.weight_up }}"
                    },
                    "children": [
                        {
                            "fvRsOtmListMember": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/tn-{{ tenant.name }}/trackmember-{{ list_name }}"
                                }
                            }
                        }
                    ]
                }
            }
            {%- endif %}   
            {%- endif %}

            {%- endfor %}
            {%- endfor %}
            {%- endfor %}
            {%- endif %}
            {%- endfor %}
        ]
    }
}
