{# iterate_list apic.tenants name item[2] #}
{% set tenant = ((apic | default()) | community.general.json_query('tenants[?name==`' ~ item[2] ~ '`]'))[0] %}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{ tenant.name }}",
            "name": "{{ tenant.name }}"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- set ns = namespace(track_member_auto = []) %}
            {%- for member in tenant.policies.track_members | default([]) %}{{ comma1() }}
            {%- set member_name = member.name ~ defaults.apic.tenants.policies.track_members.name_suffix %}
            {%- set ns.track_member_auto = ns.track_member_auto + [(member_name)] %}
            {%- set ip_sla_name = member.ip_sla_policy ~ defaults.apic.tenants.policies.ip_sla_policies.name_suffix %}
            {
                "fvTrackMember": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ member_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/trackmember-{{ member_name }}",
                        "descr": "{{ member.description | default() }}",
                        "dstIpAddr": "{{ member.destination_ip }}",
                        {% if member.scope_type == "l3out" %}
                        "scopeDn": "uni/tn-{{ tenant.name }}/out-{{ member.scope }}"
                        {% elif member.scope_type == "bd" %}
                        "scopeDn": "uni/tn-{{ tenant.name }}/BD-{{ member.scope }}"
                        {% endif %}
                    },
                    "children": [
                        {
                            "fvRsIpslaMonPol": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/tn-{{ tenant.name }}/ipslaMonitoringPol-{{ ip_sla_name }}"
                                }
                            }
                        }

                    ]
                }
            }
            {%- endfor %}

            {%- for l3out in tenant.l3outs | default([]) %}
            {%- set l3out_name = l3out.name ~ defaults.apic.tenants.l3outs.name_suffix %}
            {%- set vrf_name = l3out.vrf ~ ('' if l3out.vrf in ('inb', 'obb', 'overlay-1') else defaults.apic.tenants.vrfs.name_suffix) %}

            {# manual node profiles #}
            {%- if ((l3out.node_profiles | default([])) | length) > 0 %}
            {%- for np in l3out.node_profiles | default([]) %}
            {%- for node in np.nodes | default([]) %}
            {%- for sr in node.static_routes | default([]) %}
            {%- for nh in sr.next_hops | default([]) %}

            {%- if nh.ip_sla_policy is defined %}
            {%- set ip_sla_name = nh.ip_sla_policy ~ defaults.apic.tenants.policies.ip_sla_policies.name_suffix %}
            {%- set member_name = vrf_name ~ "_" ~ nh.ip %}
            {%- if member_name not in ns.track_member_auto %}
            {%- set ns.track_member_auto = ns.track_member_auto + [(member_name)] %}{{ comma1() }}
            {
                "fvTrackMember": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ member_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/trackmember-{{ member_name }}",
                        "descr": "Generated by l3out: {{l3out_name}}, node: {{node.node_id}}",
                        "dstIpAddr": "{{ nh.ip }}",
                        "scopeDn": "uni/tn-{{ tenant.name }}/out-{{ l3out_name }}"
                    },
                    "children": [
                        {
                            "fvRsIpslaMonPol": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/tn-{{ tenant.name }}/ipslaMonitoringPol-{{ ip_sla_name }}"
                                }
                            }
                        }
                    ]
                }
            }
            {%- endif %}   
            {%- endif %}

            {%- endfor %}
            {%- endfor %}
            {%- endfor %}
            {%- endfor %}
            {%- endif %}

            {%- if ((l3out.nodes | default([])) | length) > 0 %}
            {# auto generated node profiles #}
            {%- for node in l3out.nodes | default([]) %}
            {%- for sr in node.static_routes | default([]) %}
            {%- for nh in sr.next_hops | default([]) %}

            {%- if nh.ip_sla_policy is defined %}
            {%- set ip_sla_name = nh.ip_sla_policy ~ defaults.apic.tenants.policies.ip_sla_policies.name_suffix %}
            {%- set member_name = vrf_name ~ "_" ~ nh.ip %}
            {%- if member_name not in ns.track_member_auto %}
            {%- set ns.track_member_auto = ns.track_member_auto + [(member_name)] %}{{ comma1() }}
            {
                "fvTrackMember": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ member_name }}",
                        "dn": "uni/tn-{{ tenant.name }}/trackmember-{{ member_name }}",
                        "descr": "Generated by l3out: {{l3out_name}}, node: {{node.node_id}}",
                        "dstIpAddr": "{{ nh.ip }}",
                        "scopeDn": "uni/tn-{{ tenant.name }}/out-{{ l3out_name }}"
                    },
                    "children": [
                        {
                            "fvRsIpslaMonPol": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "tDn": "uni/tn-{{ tenant.name }}/ipslaMonitoringPol-{{ ip_sla_name }}"
                                }
                            }
                        }
                    ]
                }
            }
            {%- endif %}   
            {%- endif %}

            {%- endfor %}
            {%- endfor %}
            {%- endfor %}
            {%- endif %}
            {%- endfor %}
        ]
    }
}
