{
    "l3IfPol": {
        "attributes": {
            "annotation": "orchestrator:aac",
            "dn": "uni/fabric/l3IfP-default",
            "bfdIsis": "{{ 'enabled' if apic.fabric_policies.fabric_isis_bfd | default(defaults.apic.fabric_policies.fabric_isis_bfd) else 'disabled' }}"
        }
    }
}