{# iterate_list apic.node_policies.nodes id item[1] #}
{
    "fabricInst": {
        "attributes": {
            "dn": "uni/fabric"
        },
        "children": [
            {%- set comma1 = joiner(",") %}
            {%- if apic.new_interface_configuration | default(defaults.apic.new_interface_configuration) is false %}
            {%- if apic.auto_generate_switch_pod_profiles | default(defaults.apic.auto_generate_switch_pod_profiles) or apic.auto_generate_fabric_spine_switch_interface_profiles | default(defaults.apic.auto_generate_fabric_spine_switch_interface_profiles) %}
            {%- for _node in apic.node_policies.nodes | default([]) %}
            {%- if _node.role == "spine" and _node.id | string == item[1] %}
            {%- set spine_interface_profile_name = (_node.id ~ ":" ~ _node.name) | regex_replace("^(?P<id>.+):(?P<name>.+)$", (apic.fabric_policies.spine_interface_profile_name | default(defaults.apic.fabric_policies.spine_interface_profile_name))) %}{{ comma1() }}
            {
                "fabricSpPortP": {
                    "attributes": {
                        "annotation": "orchestrator:aac",
                        "name": "{{ spine_interface_profile_name }}",
                        "dn": "uni/fabric/spportp-{{ spine_interface_profile_name }}",
                        "childAction": "deleteNonPresent"
                    },
                    "children": [
                        {%- set comma2 = joiner(",") %}
                        {%- set query = "nodes[?id==`" ~ _node.id ~ "`].interfaces[]" %}
                        {%- if apic.interface_policies is defined %}
                        {%- for int in (apic.interface_policies | default() | community.general.json_query(query) | default([])) %}
                        {%- if int.fabric | default(defaults.apic.interface_policies.nodes.interfaces.fabric) is true %}
                        {%- set module = int.module | default(defaults.apic.interface_policies.nodes.interfaces.module) %}
                        {%- set spine_interface_selector_name = (module ~ ":" ~ int.port) | regex_replace("^(?P<mod>.+):(?P<port>.+)$", (apic.fabric_policies.spine_interface_selector_name | default(defaults.apic.fabric_policies.spine_interface_selector_name))) %}{{ comma2() }}
                        {
                            "fabricSFPortS": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "dn": "uni/fabric/spportp-{{ spine_interface_profile_name }}/spfabports-{{ spine_interface_selector_name }}-typ-range",
                                    "name": "{{ spine_interface_selector_name }}",
                                    {% if apic.interface_selector_description | default(defaults.apic.interface_selector_description) is true %}
                                    "descr": "{{ int.description | default() }}",
                                    {% endif %}
                                    "type": "range",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {% if int.policy_group is defined %}
                                    {
                                        "fabricRsSpPortPGrp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                {% set query = "spine_interface_policy_groups[?name=='" ~ int.policy_group ~ "'].type[]" %}
                                                {% set type = (apic.fabric_policies | community.general.json_query(query)) %}
                                                {% set policy_group_name = int.policy_group ~ defaults.apic.fabric_policies.spine_interface_policy_groups.name_suffix %}
                                                "tDn": "uni/fabric/funcprof/spportgrp-{{ policy_group_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {
                                        "fabricPortBlk": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "descr": "{{ int.description | default() }}",
                                                "fromCard": "{{ module }}",
                                                "fromPort": "{{ int.port }}",
                                                "name": "{{ module }}-{{ int.port }}",
                                                "toCard": "{{ module }}",
                                                "toPort": "{{ int.port }}"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                        {%- for sub in int.sub_ports | default([]) %}
                        {%- set module = sub.module | default(defaults.apic.interface_policies.nodes.interfaces.module) %}
                        {%- set spine_interface_selector_sub_port_name = (module ~ ":" ~ int.port ~ ":" ~ sub.port ) | regex_replace("^(?P<mod>.+):(?P<port>.+):(?P<sport>.+)$", (apic.fabric_policies.spine_interface_selector_sub_port_name | default(defaults.apic.fabric_policies.spine_interface_selector_sub_port_name))) %}{{ comma2() }}
                        {
                            "fabricSFPortS": {
                                "attributes": {
                                    "annotation": "orchestrator:aac",
                                    "dn": "uni/fabric/spportp-{{ spine_interface_profile_name }}/spfabports-{{ spine_interface_selector_sub_port_name }}-typ-range",
                                    "name": "{{ spine_interface_selector_sub_port_name }}",
                                    {% if apic.interface_selector_description | default(defaults.apic.interface_selector_description) is true %}
                                    "descr": "{{ sub.description | default() }}",
                                    {% endif %}
                                    "type": "range",
                                    "childAction": "deleteNonPresent"
                                },
                                "children": [
                                    {% if sub.policy_group is defined %}
                                    {
                                        "fabricRsSpPortPGrp": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                {% set query = "spine_interface_policy_groups[?name=='" ~ sub.policy_group ~ "'].type[]" %}
                                                {% set type = (apic.fabric_policies | community.general.json_query(query)) %}
                                                {% set policy_group_name = sub.policy_group ~ defaults.apic.fabric_policies.spine_interface_policy_groups.name_suffix %}
                                                "tDn": "uni/fabric/funcprof/spportgrp-{{ policy_group_name }}"
                                            }
                                        }
                                    },
                                    {% endif %}
                                    {
                                        "fabricSubPortBlk": {
                                            "attributes": {
                                                "annotation": "orchestrator:aac",
                                                "descr": "{{ sub.description | default() }}",
                                                "fromCard": "{{ module }}",
                                                "fromPort": "{{ int.port }}",
                                                "name": "{{ module }}-{{int.port}}-{{ sub.port }}",
                                                "toCard": "{{ module }}",
                                                "toPort": "{{ int.port }}",
                                                "fromSubPort": "{{ sub.port }}",
                                                "toSubPort": "{{ sub.port }}"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                        {%- endfor %}
                        {%- endif %}
                        {%- endfor %}
                        {%- endif %}

                    ]
                }
            }
            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- endif %}

        ]
    }
}
